
/* Varibales
------------------------------------------*/

$nasa-red: #ed3946;
$nasa-blue: #1068b0;
$nasa-grey: #a0a0a4;
$nasa-silver: #a7a9ac;
$nasa-black: #000115;
$font: "Helvetica", "Arial", "Garamond", sans-serif;